.layers {
  position: relative;
  z-index: 2;
  perspective: 1800px;
  overflow: hidden;
}

.layers__container {
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-x)) rotateY(var(--move-y));
  will-change: transform;
  transition: transform 3s cubic-bezier(0.05, 0.5, 0, 1);
}
.layers_item {
  position: absolute;
  inset: -4vw;
  background-size: cover;
  background-position: center;
}
.laye_1 {
  transform: translateZ(-250px) scale(1.5);
}
.laye_2 {
  transform: translateZ(-180px) scale(1.2);
}
.laye_canvas {
  transform: translateZ(-220px) scale(1.5);
}
.laye_3 {
  transform: translateZ(-80px);
}
.laye_4 {
  transform: translateZ(0px) scale(1.1) translateY(-100px);
}
.laye_5 {
  transform: translateZ(20px) scale(0.7) translateX(-200px) translateY(10%);
}
.laye_6 {
  transform: translateZ(130px) scale(0.9);
}
.laye_7 {
  transform: translateZ(260px) scale(0.8);
}
